<?xml version="1.0"?>
<config>
  <modules>
    <Untitled_FashionOutletTheme>
      <version>0.1.0</version>
    </Untitled_FashionOutletTheme>
  </modules>
  <global>
  <models>
	  <fashionoutlettheme>
		<class>Untitled_FashionOutletTheme_Model</class>
		<resourceModel>fashionoutlettheme_mysql4</resourceModel>
	  </fashionoutlettheme>
			<core>
				<rewrite>
					<design_package>Untitled_FashionOutletTheme_Model_Core_Design_Package</design_package>
				</rewrite>
			</core>
	</models>
    <helpers>
      <fashionoutlettheme>
        <class>Untitled_FashionOutletTheme_Helper</class>
      </fashionoutlettheme>
    </helpers>
	<blocks>
	  <fashionoutlettheme>
		<class>Untitled_FashionOutletTheme_Block</class>
	  </fashionoutlettheme>
	</blocks>
  </global>
  <frontend>
    <routers>
      <fashionoutlettheme>
        <use>standard</use>
          <args>
            <module>Untitled_FashionOutletTheme</module>
            <frontName>fashionoutlet</frontName>
          </args>
      </fashionoutlettheme>
    </routers>
		<layout>
		  <updates>
			<fashionoutlettheme>
			  <file>fashionoutlettheme.xml</file>
			</fashionoutlettheme>
		  </updates>
		</layout>
  </frontend>
  </config> 